/* Стили для всего документа html, body */
* {
    font-family: "Montserrat", sans-serif;  
}

/* Стили для header 1*/


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding: 2% 7%;
    color: white;
    position: relative;
}

.logo {
    width: 40px; 
}

.header__navigation {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.carousel_img{
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    height: 70vh;
}

.menu_link {
    text-decoration: none;
    color: black;
}

.menu_link:first-child {
    color: #FFC700;
}

.header_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 4rem; 
    text-align: left;
    margin-bottom: 10%;
    width: 55%;
}

.title_yellow {
    color: #FFC700; 
    font-size: 2rem; 
    font-family: Pacifico; 
    font-weight: 400; 
}

.title_white {
    font-size: 4rem; 
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    }

    .button_header {
        width: 230px;
        border-radius: 60px;
        background: linear-gradient(92.71deg, #ffffff 0%, #ff9900 100%);
        text-align: center;
        padding: 13px;
        margin-bottom: 3%;
    }



/* Стили для header 2 */


/* Стили для экрана 1 */


/* Стили для экрана 2 */


/* Стили для экрана 3 */


/* Стили для header Виды экскурсий 4 */
.screen_4{
    display: block;
    margin: 0 auto;
    width: 1120px;
    height: 380px;
}
#screen_4__heading{
    font-size: 24px;
    font-weight: bold;
    color: rgba(4, 153, 221, 1);
}
.excursion_types {
    display: flex;
    width: 100%; 
    gap: 10px;
    height: 133px; 
    padding: 15px;
  }
  .excursion_types__wrapper {
    display: flex;
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 0; 
  }
.excursion_type1{
    font-size: 18px;
    color: rgba(4, 153, 221, 1);
}
.excursion_content{
    font-size: 12px;
    margin-left: 10px;
}
.excursion_choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(40, 40, 40, 1);

}
#goToExcursionBtn{
background: linear-gradient(rgba(23, 193, 188, 1),rgba(4, 153, 221, 1)) ;
width: 230px;
height: 50px;
border-radius: 60px;
border: none;
font-size: 14px;
font-weight: bold;
color: white;
text-align: center;
padding: 13px;
margin-top: 30px;
}
.excursion_container{
    margin-top: 25px;
}

  


/* Стили для экрана 5 */


/* Стили для экрана 6 */


/* Стили для экрана 7 */


/* Стили для footer 1 */


/* Стили для footer 2 */
