/* Стили для всего документа html, body */
* {
    font-family: "Montserrat", sans-serif;  
}

/* Стили для header 1*/

/* Стили для header 2 */


/* Стили для экрана 1 */


/* Стили для экрана 2 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background: url('https://images.pexels.com/photos/4064432/pexels-photo-4064432.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed; /* Убедитесь, что путь к изображению правильный */
    background-size: cover;
    color: #fff;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный слой */
    z-index: 1;
}

header, .container {
    position: relative;
    z-index: 2;
}

header {
    padding: 100px 0;
}

header h1 {
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.container {
    margin-top: 3rem;
}

h2 {
    font-weight: bold;
    margin-top: 1rem;
}

.img-fluid {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}


/* Стили для экрана 3 */


/* Стили для header 4 */


/* Стили для экрана 5 */


/* Стили для экрана 6 */


/* Стили для экрана 7 */


/* Стили для footer 1 */


/* Стили для footer 2 */
